MONGO_URI="mongodb://<username>:<db_password>@ac-rr3i4on-shard-00-00.6e3ipve.mongodb.net:27017,ac-rr3i4on-shard-00-01.6e3ipve.mongodb.net:27017,ac-rr3i4on-shard-00-02.6e3ipve.mongodb.net:27017/?ssl=true&replicaSet=atlas-a9lk6z-shard-0&authSource=admin&appName=test"